<!DOCTYPE html>
<html>
<head lang="__HTMLLANG__">
	<meta charset="utf-8">
	<title>Αρχείο και Πληροφορίες Λιστών Ταχυδρομείου</title>
	<link rel="stylesheet" href="__PUBURL__/assets/css/style.css">
</head>

<body>
	<div id="page">
		<h1>Λίστες Ταχυδρομείου</h1>

		<h2>Καλώς ορίσατε</h2>

		<p>Παρακάτω θα βρείτε μια λίστα με τις διαθέσιμες λίστες ταχυδρομείου. Πατήστε στο όνομα μιας λίστας για να δείτε το αρχείο της και πληροφορίες, καθώς και τρόπους εγγραφής, διαγραφής και προσαρμογής των ρυθμίσεων συνδρομών.</p>

		__CONTENT__
	</div><!-- #page -->
</body>
</html>
