<!DOCTYPE html>
<html>
<head lang="__HTMLLANG__">
	<meta charset="utf-8">
	<title>__LISTNAME__</title>
	<link rel="stylesheet" href="__PUBURL__/assets/css/style.css">
</head>

<body>
	<div id="page">
		<div id="top-menu">
			<a href="__PUBURL__">αρχική</a>
			<span class="sep">|</span>
			<a href="__PUBURL__/__LISTNAME__/listinfo.html" >πληροφορίες</a>
			<span class="sep">|</span>
			<a href="__PUBURL__/__LISTNAME__" class="current-item">αρχείο</a>
		</div>

		<h1>__LISTNAME__ αρχείο</h1>

		__CONTENT__
	</div><!-- #page -->
</body>
</html>
