<!DOCTYPE html>
<html>
<head lang="__HTMLLANG__">
	<meta charset="utf-8">
	<title>Mailing Lists Archives and Information</title>
	<link rel="stylesheet" href="__PUBURL__/assets/css/style.css">
</head>

<body>
	<div id="page">
		<h1>Mailing Lists</h1>

		<h2>Welcome</h2>

		<p>Below is a list of available mailing lists. Click on a list name to view the archives and information about the list and how to subscribe, unsubscribe and adjust your subscription settings.</p>

		__CONTENT__
	</div><!-- #page -->
</body>
</html>
