<!DOCTYPE html>
<html>
<head lang="__HTMLLANG__">
	<meta charset="utf-8">
	<title>Information about __LISTNAME__</title>
	<link rel=stylesheet href="__PUBURL__/assets/css/style.css">
</head>

<body>
	<div id="page">
		<div id="top-menu">
			<a href="__PUBURL__">home</a>
			<span class="sep">|</span>
			<a href="__PUBURL__/__LISTNAME__/listinfo.html" class="current-item">list info</a>
			<span class="sep">|</span>
			<a href="__PUBURL__/__LISTNAME__">list archive</a>
		</div>

		<h1>__LISTNAME__</h1>

		__CONTENT__

		<h2>How can I send messages to the list?</h2>

		<p>You can post to the list by emailing <a href="mailto:__ADDRLIST__">&lt;__ADDRLIST__&gt;</a>.</p>

		<h2>How can I subscribe to this list?</h2>

		<p>You can subscribe to the following versions of the list:</p>

		<ul>
			<li class="normal"><strong>The normal version</strong> Every time a post is sent to the list, subscribers receive a copy of it. [OPENLIST]Subscribe by e-mailing <a href="mailto:__ADDRSUB__">&lt;__ADDRSUB__&gt;</a>[OPENLIST][CLOSEDLIST]Subscribe by contacting a list administrator[CLOSEDLIST].</li>

			[SUBDIG]<li class="digest"><strong>The digest version</strong> Subscribers receive multiple posts in a single mail message, at regular intervals, or when a lot of posts have accumulated. [OPENLIST]Subscribe by e-mailing <a href="mailto:__ADDRSUBDIG__">&lt;__ADDRSUBDIG__&gt;</a>[OPENLIST][CLOSEDLIST]Subscribe by contacting a list administrator[CLOSEDLIST].</li>[SUBDIG]

			[SUBNOMAIL]<li class="nomail"><strong>The no-mail version</strong> Subscribers do not receive any posts from the list. This means, though, they are able to post to a list which only subscribers may post to, while they follow the list using a web archive or another subscribed email address. [OPENLIST]Subscribe by e-mailing <a href="mailto:__ADDRSUBNOMAIL__">&lt;__ADDRSUBNOMAIL__&gt;</a>[OPENLIST][CLOSEDLIST]Subscribe by contacting a list administrator[CLOSEDLIST].</li>[SUBNOMAIL]
		</ul>

		<h2>How can I unsubscribe from this list?</h2>

		<p>[OPENLIST]You can unsubscribe by e-mailing <a href="mailto:__ADDRUNSUB__">&lt;__ADDRUNSUB__&gt;</a>[OPENLIST][CLOSEDLIST]Unsubscribe by contacting a list administrator[CLOSEDLIST].</p>

		<h2>Help &amp; FAQ</h2>

		<p>You can receive a help message about the list in your inbox by emailing <a href="mailto:__ADDRHELP__">&lt;__ADDRHELP__&gt;</a>. To receive the frequently asked questions document, email <a href="mailto:__ADDRFAQ__">&lt;__ADDRFAQ__&gt;</a>, instead.</p>

		<h2>Contact</h2>

		<p>To contact the list owner, send a message to <a href="mailto:__ADDROWNER__">&lt;__ADDROWNER__&gt;</a>.</p>
	</div><!-- #page -->
</body>
</html>
