#
# the configuration for mlmmj-archivist
#

# the spool directory for mlmmj
_mlmmj_spool="/var/spool/mlmmj"

# the web output directory
_public_html="/var/www/lists"

# the web url root
_public_url="http://lists.example.tld"

# the template name
# check __SHAREDIR__/templates for available templates
_template="default"

# the output language in ISO 639-1 (language) and ISO 3166 (country)
# format. utf-8 is used by default
_language="en_US"

# add list metadata (subscribers & messages count)
# boolean (true/false)
_metadata=false
