<!DOCTYPE html>
<html>
<head lang="__HTMLLANG__">
	<meta charset="utf-8">
	<title>Αρχείο και Πληροφορίες Λιστών Ταχυδρομείου</title>
	<link rel="stylesheet" href="__PUBURL__/assets/css/style.css">
</head>

<body>
	<div id="page">
		<header class="branding clearfix">
			<h1><a href="__PUBURL__" title="Αρχική Σελίδα">ΕΕΛ/ΛΑΚ - Λίστες Ταχυδρομείου</a></h1>
		</header>

		<h1 class="title-center">Λίστες Ταχυδρομείου</h1>

		<h2>Καλώς ορίσατε</h2>

		<p>Παρακάτω παρουσιάζονται όλες οι λίστες ταχυδρομείου της ΕΕΛ/ΛΑΚ. Επιλέξτε το όνομα μιας λίστας για να δείτε πληροφορίες και το αρχείο μηνυμάτων, καθώς και τρόπους εγγραφής, απεγγραφής και προσαρμογής των ρυθμίσεων συνδρομής για τη συγκεκριμένη λίστα.</p>

		__CONTENT__
	</div><!-- #page -->
</body>
</html>
